@page
@model E7GuildWarRecorder.Pages.Record.IndexModel
@{
    ViewData["Title"] = "Record Matches";
}

<form id="add-form" method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Add Match Data</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col">
                Defense Heroes:
                <select asp-for="Match.Defense1Id" id="defense1Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
                <select asp-for="Match.Defense2Id" id="defense2Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
                <select asp-for="Match.Defense3Id" id="defense3Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
            </div>
            <div class="col">
                Offense Heroes:
                <select asp-for="Match.Offense1Id" id="offense1Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
                <select asp-for="Match.Offense2Id" id="offense2Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
                <select asp-for="Match.Offense3Id" id="offense3Id" class="mb-2 form-select" aria-label="Select a hero">
                    <option value="" selected>Select a hero</option>
                    @foreach (var hero in Model.Heroes)
                    {
                        <option value="@hero.Id">@hero.Name</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                Defense Result:
                <select asp-for="Match.Result" class="form-select" aria-label="Select a result">
                    <option selected value="won">Won</option>
                    <option value="lost">Lost</option>
                    <option value="draw">Draw</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div>
                Notes:
            </div>
            <div>
                <textarea asp-for="Match.Notes" style="width:100%"></textarea>
            </div>
        </div>
        <button id="add-submit" type="submit" class="btn btn-primary">Save</button>
    </div>
</form>