@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">Defense</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Win Rate %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Model.Matches)
            {
                <tr class="text-center">
                    <td>
                        <img src="@(match.Defense1 != null ? "images/icons/" + @match.Defense1.Icon : "")" />
                        <img src="@(match.Defense2 != null ? "images/icons/" + @match.Defense2.Icon : "")" />
                        <img src="@(match.Defense3 != null ? "images/icons/" + @match.Defense3.Icon : "")" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

