@page
@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />

<div class="container">
    <div class="alert alert-success" role="alert">
        The following is a list of the top 10 Highest Win Rate Defenses in the past 30 days.
    </div>
    <table class="table">
        <thead class="text-center">
            <tr>
                <th scope="col">Defense</th>
                <th scope="col">Wins</th>
                <th scope="col">Losses</th>
                <th scope="col">Win Rate %</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var matchArray in Model.MatchesByDefenseIds)
            {
                float wonCount = 0;
                float lostCount = 0;
                float totalMatches = 0;
                float winRate;

                // !!! Refactor later because we need to filter for the highest win rate defenses later and this won't work since calculation done front
                foreach (var match in matchArray.Value)
                {
                    if (match.Result == "lost")
                    {
                        lostCount++;
                    }
                    else
                    {
                        wonCount++;
                    }

                    totalMatches++;
                }

                winRate = (wonCount / totalMatches) * 100;

                <tr class="text-center">
                    <td>
                        <img class="hero-icon" src="@(matchArray.Value.First().Defense1 != null ? "images/icons/" + @matchArray.Value.First().Defense1.Icon : "")" />
                        <img class="hero-icon" src="@(matchArray.Value.First().Defense2 != null ? "images/icons/" + @matchArray.Value.First().Defense2.Icon : "")" />
                        <img class="hero-icon" src="@(matchArray.Value.First().Defense3 != null ? "images/icons/" + @matchArray.Value.First().Defense3.Icon : "")" />
                    </td>
                    <td>
                        @wonCount
                    </td>
                    <td>
                        @lostCount
                    </td>
                    <td>
                        @winRate
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

